<div class="max-w-2xl mx-auto mt-6 pb-6">
  <div class="max-w-screen-md w-auto mx-auto">
    <div class="inline-flex flex-col space-y-5 items-center justify-end flex-1 h-full p-8 bg-blue-500 rounded-2xl">
      <p class="w-full text-3xl font-semibold text-white">Start Making Your Business a Priority</p>
      <p class="w-full pb-8 tracking-wide leading-tight text-white">If you're simply browsing, feel free to enjoy your visit.<br /><br />For those interested in exploring how we can benefit your business, we invite you to schedule a discovery call with us.
      <br /><br />Either way, we appreciate your visit.</p>
      <div class="mr-auto">{% include "components/ui/buttonDiscovery.njk" %}</div>
    </div>
  </div>
