<div class="px-3 md:lg:xl:px-40 py-20 bg-opacity-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:xl:grid-cols-3 group bg-white shadow-xl shadow-neutral-100">

    <div
      class="p-10 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer">
      <span class="p-5 rounded-full bg-red-500 text-white shadow-lg shadow-red-200">{% tabler 'chart-line'  %}</span>
      <p class="text-2xl font-medium text-slate-700 mt-3">Cash Management</p>
      <p class="mt-2 text-lg text-slate-500">Simple and effective accounting strategies to understand your spending. Make your company work for you don't be a slave to your company.</p>
    </div>

    <div
      class="p-10 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer">
      <span class="p-5 rounded-full bg-red-500 text-white shadow-lg shadow-red-200">{% tabler 'chess-knight' %}</span>
      <p class="text-2xl font-medium text-slate-700 mt-3">Strategic Planning</p>
      <p class="mt-2 text-lg text-slate-500">Making sure you have a plan in place to grow, maintain and exit your business. Make your plans before you need them so you are ready to face any obstacle as it arises.</p>
    </div>

    <div
      class="p-10 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer">
      <span class="p-5 rounded-full bg-red-500 text-white shadow-lg shadow-red-200">{% tabler 'briefcase' %}</span>
      <p class="text-2xl font-medium text-slate-700 mt-3">Business Accounting</p>
      <p class="mt-2 text-lg text-slate-500">Taking care of your year-end requirements. Preparing your annual compilation statement that assists with tax filings and shows you a snapshot of the financial situation of your company. These statements provide a method to show the financial position of your company at a point in time.</p>
    </div>

    <div
      class="p-10 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer">
      <span class="p-5 rounded-full bg-red-500 text-white shadow-lg shadow-red-200">{% tabler 'pencil-share' %}</span>
      <p class="text-2xl font-medium text-slate-700 mt-3">Bookkeeping</p>
      <p class="mt-2 text-lg text-slate-500">Provides insights into your company on a timely basis. Current up-to-date information helps you in the decision making process. We help you compile this information and present it in a form that is easily understandable.</p>
    </div>

    <div
      class="p-10 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer">
      <span class="p-5 rounded-full bg-red-500 text-white shadow-lg shadow-red-200">{% tabler 'receipt' %}</span>
      <p class="text-2xl font-medium text-slate-700 mt-3">Income Tax Filing & Planning</p>
      <p class="mt-2 text-lg text-slate-500">You must file a tax return yearly for your business and personally. We use our professional training to make sure that you only pay the taxes you are obligated to. We work with you to make sure you are taking advantage of all the tax strategies that are available to you.</p>
    </div>

    <div
      class="p-10 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer">
      <span class="p-5 rounded-full bg-red-500 text-white shadow-lg shadow-red-200">{% tabler 'bulb' %}</span>
      <p class="text-2xl font-medium text-slate-700 mt-3">Business Startup</p>
      <p class="mt-2 text-lg text-slate-500">You have had the big idea and want to start a business. Make sure you get started right. We will work with you to make sure that all the required items are completed and you start profitable from day one.</p>
    </div>
  </div>
</div>