
<h2 class="font-bold text-5xl mt-5 tracking-tight uppercase">{{ tag }}</h2>

{% for post in postslist | reverse %}

<div class="flex bg-white shadow-lg rounded-lg mx-4 md:mx-auto my-10 max-w-md md:max-w-2xl "><!--horizontal margin is just for display-->
  <div class="flex items-start px-4 py-6">
    {# TODO: change picture #}
    {# TODO: color scheme #}
    <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" src="https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="avatar">
    <div class="">
      <h2 class="text-lg font-semibold text-primary-900 -mt-1"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
      <p class="text-gray-700">{{ post.data.author }} </p>
      <small class="text-sm text-gray-700 mt-3"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | postDate }}</time></small>
      <p class="mt-3 text-gray-700 text-sm">{{ post.data.description }}</p>
    </div>
  </div>
</div>
{% endfor %}