---
title: FAQ
subtitle: Frequenty Asked Questions
layout: layouts/base.njk
permalink: /faq/
eleventyNavigation:
  key: FAQ
  order: 3
---
{# TODO: colors/formating #}

{% include "components/ui/headline.njk" %}

<section>
{% for faq in collections.faqs %}
  <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
    <div class="p-2">
      <details class="group">
        <summary class="flex justify-between items-center font-medium cursor-pointer list-none font-semibold">
          <span> {{ faq.data.title }} </span>
          <span class="transition group-open:rotate-180">
            <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
          </span>
        </summary>
        <p class="text-neutral-600 mt-5 group-open:animate-fadeIn">
          {{ faq.templateContent | safe }}
        </p>
      </details>
    </div>
  </div>
{% endfor %}
</section>
<script>
	// ...
	// extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>
