---
title: Home
layout: layouts/base.njk
permalink: /
eleventyNavigation:
  key: Home
  order: 0
---
  <section id="hero">{% include "./_includes/components/sections/hero.njk" %}</section>
  <section id="servicesOffered">{% include "./_includes/components/sections/servicesOffered.njk" %}</section>
  <section id="brands">{% include "./_includes/components/sections/brands.njk" %}</section>
  <section id="testimonials">{% include "./_includes/components/sections/testimonials.njk" %}</section>
  <section id="contact">{% include "./_includes/components/sections/contact.njk" %}</section>
  <section id="ctaDiscovery">{% include "./_includes/components/sections/ctaDiscovery.njk" %}</section>
